<app-navbar></app-navbar>
<app-header></app-header>
<h1> {{title}} </h1>
<h2> {{sampleVariable}} </h2>
<p> {{1 + 1}} </p>
<img [src]="imgURL" alt="sample image">
<button [disabled]="isDisabled">disdable button</button>
<router-outlet />


<!-- class bindinig -->
<button [class.active]="isActive" [class.no-active]="!isActive">click me</button>


<!-- String Binding -->
<button [class.apple]="fruitName == 'Apple' ">Fruit Ninja</button>


 <!-- style binding -->
<button 
[style.backgroundColor]="isActive? 'red': 'green'"
[style.border]="isActive? '3px solid yellow' : '' " 

>Click</button>

<button [class.active]="isActive"> Class Binding</button>

<!-- event binding -->
 <button (click)="buttonClick()">click me</button>
 <button (mouseover)="buttonClick()">hover over me</button>
<br>
 <label for="name">Name (4 to 8 characters):</label>
 <input id="name" type="text" (keyup)="keyEnter($event)">

 <label for="name2">Name (4 to 8 characters):</label>
 <input id="name2" type="text" (keyup.enter)="keyEnter2()">