<app-navbar></app-navbar>
<app-header></app-header>
<h1> {{title}} </h1>
<h2> {{sampleVariable}} </h2>
<p> {{1 + 1}} </p>
<img [src]="imgURL" alt="sample image">
<button [disabled]="isDisabled">disdable button</button>
<router-outlet />


<!-- class bindinig -->
<button [class.active]="isActive" [class.no-active]="!isActive">click me</button>


<!-- String Binding -->
<button [class.apple]="fruitName == 'Apple' ">Fruit Ninja</button>


 <!-- style binding -->
<button 
[style.backgroundColor]="isActive? 'red': 'green'"
[style.border]="isActive? '3px solid yellow' : '' " 

>Click</button>

<button [class.active]="isActive"> Class Binding</button>

<!-- event binding -->
 <button (click)="buttonClick()">click me</button>
 <button (mouseover)="buttonClick()">hover over me</button>
<br>
 <label for="name">Name (4 to 8 characters):</label>
 <input id="name" type="text" (keyup)="keyEnter($event)">
 <br>

 <label for="name2">Name (4 to 8 characters):</label>
 <input id="name2" type="text" (keyup.enter)="keyEnter2(user)" #user >
 <br>

 <label for="property-bind">test bind</label>
 <input id="property-bind" type="text" [value]="username" #username (keyup.enter)="updateUserName(username)">
 <br>
 <label for="property-bind-II">test bind</label>
 <input id="property-bind-II" type="text" [(ngModel)]="username2">
 <br>

 <h3> {{username2}}</h3>

 <!-- old way -->
 <h2 *ngIf="isLoggedIn; else message">{{userNameExample}}</h2>
<h4 *ngIf="!isLoggedIn"> User is not logged in</h4>

<ng-template #message>
<h4 *ngIf="!isLoggedIn"> Loaded using ng-template</h4>
</ng-template>


 <!-- new way -->

 @if (isLoggedIn) {
    <h3>{{userNameExample}}</h3>
 }
@else {
    <h4>else syntax block</h4>
}

 @if (!isLoggedIn) {
    <h4>User Logged out</h4>
 }

 <!-- Multiple Conditions -->

 <h4 *ngIf="isAdmin">Welcome Admin-1</h4>
 <h4 *ngIf="isMember">Welcome Member-1</h4>
 <h4 *ngIf="isGuest">Welcome Guest-1</h4>

 <!-- ngIF and Else Approach -->

 <h4 *ngIf="isAdmin; else memberMessage">Welcome Admin-2</h4>

 <ng-template #memberMessage>
 <h4 *ngIf="isMember; else guestMessage">Welcome Member-2</h4>
</ng-template>

<ng-template #guestMessage>
   <h4 *ngIf="isGuest">Welcome Guest-2</h4>
</ng-template>


<!-- @if, @else Syntax Approach -->

@if (isAdmin) {
   <h4>Welcome Admin-3</h4>
} @else if(isMember) {
   <h4>Welcome Member-3</h4>
} @else if(isGuest) {
   <h4> Welcome Guest-3</h4>
}

<!-- if Directive with Number Values -->

<button (click)="countLoginAttempts()" *ngIf="loginCount < 4">Log In</button>

<h4 *ngIf="loginCount > 3">Exceeded 3 login Attempts, please try again later</h4>

<br>
<br>

@if(loginCount < 4) {
   <button (click)="countLoginAttempts()">Login Syntax</button>
} @else {
   <h4>Exceeded 3 login Attempts, please try again later</h4>
}

<!-- if Directive with String Values -->

<br>
<br>

<h4 *ngIf="userRole == 'Admin'; else memberMessage1">Welcome Admin</h4>

<ng-template #memberMessage1>
   <h4>Welcome Member</h4>
</ng-template>


@if(userRole == 'Admin') {
   <h4>Welcome Admin</h4>
} @else {
   <h4>Welcome Member</h4>
}

 <!-- ng Template Outlet -->

 <ng-template #joinNowButton>
   <p>Call to Action</p>
   <button>Join Now</button>
</ng-template>

<div [ngTemplateOutlet]="joinNowButton">
   <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="joinNowButton">
   <h5>Hero</h5>
</div>
<div [ngTemplateOutlet]="joinNowButton">
   <h5>Footer</h5>
</div>

<!-- Ng For Directive -->

<h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3>

<h3 *ngFor="let user of users">{{ user }}</h3>

<p>For syntax Approach</p>
@for(user of users; track user) {
   <h3>{{ user }} - Loaded Using Syntax Block</h3>
}


<ul>
   <li *ngFor="let user of users">{{ user }}</li>
</ul>


<ul>
   @for(user of users; track user) {
      <li> {{ user }} - Loaded Using Syntax Block</li>
   }
</ul>


<ul>
   <li *ngFor="let user of userObj">{{ user.name }}</li>
</ul>